In [1]:
import pandas as pd
import numpy as np

In [2]:
pole = [2,4,6,8,10,12,14,16,18,20]
pole

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
indexovane_pole = pd.Series(pole)
indexovane_pole

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [4]:
pole.index

In [5]:
index_val = list('abcdefghij')

In [6]:
index_pole = pd.Series(pole, index=index_val)
index_pole

a     2
b     4
c     6
d     8
e    10
f    12
g    14
h    16
i    18
j    20
dtype: int64

In [7]:
# Loading DataFrame from website and save it to different formats

In [8]:
kraje = pd.read_html('https://sk.wikipedia.org/wiki/Zoznam_krajov_na_Slovensku')

In [9]:
kraje

[        kód             kraj ISO 3166-2 obyvateľov rozloha [km²]  \
 0         1     Bratislavský      SK-BL    736 385       2 052,6
 1         2         Trnavský      SK-TA    565 900       4 146,3
 2         3      Trenčiansky      SK-TC    565 572       4 501,8
 3         4       Nitriansky      SK-NI    665 600       6 343,7
 4         5         Žilinský      SK-ZI    686 063       6 808,4
 5         6  Banskobystrický      SK-BC    611 124       9 454,0
 6         7        Prešovský      SK-PV    810 008       8 972,8
 7         8          Košický      SK-KI    778 799       6 754,3
 8  Celkovo:         Celkovo:   Celkovo:  5 419 451        49 034

    hustota obyv. [ob./km²] miest a obcí  miest  okresov  \
 0                      359           73      7        8
 1                      136          251     17        7
 2                      126          276     18        9
 3                      105          354     16        7
 4                      101          315     19       11
 5                       65          516     24       13
 6                       90          665     23       13
 7                      115          440     17       11
 8                      111        2 890    141       79

                                               okresy
 0  Bratislava I, Bratislava II, Bratislava III, B...
 1  Dunajská Streda, Galanta, Hlohovec, Piešťany, ...
 2  Bánovce nad Bebravou, Ilava, Myjava, Nové Mest...
 3  Komárno, Levice, Nitra, Nové Zámky, Šaľa, Topo...
 4  Bytča, Čadca, Dolný Kubín, Kysucké Nové Mesto,...
 5  Banská Bystrica, Banská Štiavnica, Brezno, Det...
 6  Bardejov, Humenné, Kežmarok, Levoča, Medzilabo...
 7  Gelnica, Košice I, Košice II, Košice III, Koši...
 8                                                NaN  ,
                                   zduKraje Slovenska  \
 0  Banskobystrický kraj  Bratislavský kraj  Košic...

                                 zduKraje Slovenska.1
 0  Banskobystrický kraj  Bratislavský kraj  Košic...  ]

In [10]:
len(kraje)

2

In [11]:
kraje_off = kraje[0]

In [12]:
kraje_off

,kód,kraj,ISO 3166-2,obyvateľov,rozloha [km²],hustota obyv. [ob./km²],miest a obcí,miest,okresov,okresy
0,1,Bratislavský,SK-BL,736 385,"2 052,6",359,73,7,8,"Bratislava I, Bratislava II, Bratislava III, B..."
1,2,Trnavský,SK-TA,565 900,"4 146,3",136,251,17,7,"Dunajská Streda, Galanta, Hlohovec, Piešťany, ..."
2,3,Trenčiansky,SK-TC,565 572,"4 501,8",126,276,18,9,"Bánovce nad Bebravou, Ilava, Myjava, Nové Mest..."
3,4,Nitriansky,SK-NI,665 600,"6 343,7",105,354,16,7,"Komárno, Levice, Nitra, Nové Zámky, Šaľa, Topo..."
4,5,Žilinský,SK-ZI,686 063,"6 808,4",101,315,19,11,"Bytča, Čadca, Dolný Kubín, Kysucké Nové Mesto,..."
5,6,Banskobystrický,SK-BC,611 124,"9 454,0",65,516,24,13,"Banská Bystrica, Banská Štiavnica, Brezno, Det..."
6,7,Prešovský,SK-PV,810 008,"8 972,8",90,665,23,13,"Bardejov, Humenné, Kežmarok, Levoča, Medzilabo..."
7,8,Košický,SK-KI,778 799,"6 754,3",115,440,17,11,"Gelnica, Košice I, Košice II, Košice III, Koši..."
8,Celkovo:,Celkovo:,Celkovo:,5 419 451,49 034,111,2 890,141,79,NaN

In [13]:
kraje_off = kraje_off.rename(columns={"ISO 3166-2": "ISO_3166-2"})

In [14]:
kraje_off = kraje_off.rename(columns={"rozloha [km/2]": "rozloha_[km/2]"})
kraje_off = kraje_off.rename(columns={"hustota obyv.[ob./km/2]": "hustota_obyv.[ob./km/2]"})

In [15]:
kraje_off

,kód,kraj,ISO_3166-2,obyvateľov,rozloha [km²],hustota obyv. [ob./km²],miest a obcí,miest,okresov,okresy
0,1,Bratislavský,SK-BL,736 385,"2 052,6",359,73,7,8,"Bratislava I, Bratislava II, Bratislava III, B..."
1,2,Trnavský,SK-TA,565 900,"4 146,3",136,251,17,7,"Dunajská Streda, Galanta, Hlohovec, Piešťany, ..."
2,3,Trenčiansky,SK-TC,565 572,"4 501,8",126,276,18,9,"Bánovce nad Bebravou, Ilava, Myjava, Nové Mest..."
3,4,Nitriansky,SK-NI,665 600,"6 343,7",105,354,16,7,"Komárno, Levice, Nitra, Nové Zámky, Šaľa, Topo..."
4,5,Žilinský,SK-ZI,686 063,"6 808,4",101,315,19,11,"Bytča, Čadca, Dolný Kubín, Kysucké Nové Mesto,..."
5,6,Banskobystrický,SK-BC,611 124,"9 454,0",65,516,24,13,"Banská Bystrica, Banská Štiavnica, Brezno, Det..."
6,7,Prešovský,SK-PV,810 008,"8 972,8",90,665,23,13,"Bardejov, Humenné, Kežmarok, Levoča, Medzilabo..."
7,8,Košický,SK-KI,778 799,"6 754,3",115,440,17,11,"Gelnica, Košice I, Košice II, Košice III, Koši..."
8,Celkovo:,Celkovo:,Celkovo:,5 419 451,49 034,111,2 890,141,79,NaN

In [16]:
kraje_off.to_excel('kraje.xlsx', index=False)
kraje_off.to_csv('kraje.csv', index=False)
kraje_off.to_json('kraje.json', orient='records', lines=True)

# Rename columns to valid XML tag names
kraje_off_xml = kraje_off.rename(columns={
	"rozloha_[km/2]": "rozloha_km2",
	"hustota_obyv.[ob./km/2]": "hustota_obyv_ob_km2",
    "miest a\xa0obcí": "miest_a_obci"
})
# kraje_off_xml.to_xml('kraje.xml', index=False)

In [17]:
# kraje_off.to_sql?
# kraje_off.to_xml?

In [18]:
# Cleaning and aligning data

In [19]:
vector = np.array([1,2,3,np.nan,5])
vector

array([ 1.,  2.,  3., nan,  5.])

In [20]:
vector.sum()

np.float64(nan)

In [21]:
# Discretization

In [22]:
df2 = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]

})
df2

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [23]:
df2.describe()

              A          B           C
count  5.000000   5.000000    5.000000
mean   3.000000  30.000000  300.000000
std    1.581139  15.811388  158.113883
min    1.000000  10.000000  100.000000
25%    2.000000  20.000000  200.000000
50%    3.000000  30.000000  300.000000
75%    4.000000  40.000000  400.000000
max    5.000000  50.000000  500.000000

In [24]:
mno = [0.0, 2.25, 5, 7.75, 10.0]

In [25]:
df2['D_category'] = pd.cut(df2['A'], mno)

In [26]:
df2

   A   B    C   D_category
0  1  10  100  (0.0, 2.25]
1  2  20  200  (0.0, 2.25]
2  3  30  300  (2.25, 5.0]
3  4  40  400  (2.25, 5.0]
4  5  50  500  (2.25, 5.0]

In [27]:
df2['D_category'] = pd.cut(df2['A'], mno, labels=['male', 'stredne', 'velke', 'velmi velke'])
df2

   A   B    C D_category
0  1  10  100       male
1  2  20  200       male
2  3  30  300    stredne
3  4  40  400    stredne
4  5  50  500    stredne

In [28]:
# Vectorized text editing

In [29]:
data = {
    "name": [
        "John Doe", "Jane Smith", "Robert Brown", "Emily White", "Michael Green",
        "Linda Black", "David Blue", "Susan Gray", "James Red", "Patricia Yellow"
    ],
    "email": [
        "john.doe@email.com", "jane.smith@email.com", "robert.brown@email.com", "emily.white@email.com",
        "michael.green@email.com", "linda.black@email.com", "david.blue@email.com", "susan.gray@email.com",
        "james.red@email.com", "patricia.yellow@email.com"
    ]
}

df = pd.DataFrame(data)
df.to_csv('contacts.csv', index=False)

In [30]:
kontakty = pd.read_csv('contacts.csv')
kontakty

              name                      email
0         John Doe         john.doe@email.com
1       Jane Smith       jane.smith@email.com
2     Robert Brown     robert.brown@email.com
3      Emily White      emily.white@email.com
4    Michael Green    michael.green@email.com
5      Linda Black      linda.black@email.com
6       David Blue       david.blue@email.com
7       Susan Gray       susan.gray@email.com
8        James Red        james.red@email.com
9  Patricia Yellow  patricia.yellow@email.com

In [31]:
kontakty['name'].str.lower()

0           john doe
1         jane smith
2       robert brown
3        emily white
4      michael green
5        linda black
6         david blue
7         susan gray
8          james red
9    patricia yellow
Name: name, dtype: object

In [32]:
kontakty['name'].str.contains('d')  # Example of searching for names containing 'd'

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
8     True
9    False
Name: name, dtype: bool

In [33]:
# Regex

In [34]:
import re

In [35]:
reg_pattern = r'.[a-zA-Z]{2,}$'

In [36]:
kontakty['email'].str.findall(reg_pattern)

0    [.com]
1    [.com]
2    [.com]
3    [.com]
4    [.com]
5    [.com]
6    [.com]
7    [.com]
8    [.com]
9    [.com]
Name: email, dtype: object

In [37]:
kontakty['email'].str.slice(- 4)

0    .com
1    .com
2    .com
3    .com
4    .com
5    .com
6    .com
7    .com
8    .com
9    .com
Name: email, dtype: object

In [38]:
kontakty['name'].str.get_dummies()

,David Blue,Emily White,James Red,Jane Smith,John Doe,Linda Black,Michael Green,Patricia Yellow,Robert Brown,Susan Gray
0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,1,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,1
8,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,1,0,0

In [39]:
# Group by      / Series

In [40]:
group = pd.read_csv('datasets\dataset_med.csv')
group

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\filip\AppData\Local\Temp\ipykernel_9536\1810913103.py:1: SyntaxWarning: invalid escape sequence '\d'
  group = pd.read_csv('datasets\dataset_med.csv')

,id,age,gender,country,diagnosis_date,cancer_stage,family_history,smoking_status,bmi,cholesterol_level,hypertension,asthma,cirrhosis,other_cancer,treatment_type,end_treatment_date,survived
0,1,64.0,Male,Sweden,2016-04-05,Stage I,Yes,Passive Smoker,29.4,199,0,0,1,0,Chemotherapy,2017-09-10,0
1,2,50.0,Female,Netherlands,2023-04-20,Stage III,Yes,Passive Smoker,41.2,280,1,1,0,0,Surgery,2024-06-17,1
2,3,65.0,Female,Hungary,2023-04-05,Stage III,Yes,Former Smoker,44.0,268,1,1,0,0,Combined,2024-04-09,0
3,4,51.0,Female,Belgium,2016-02-05,Stage I,No,Passive Smoker,43.0,241,1,1,0,0,Chemotherapy,2017-04-23,0
4,5,37.0,Male,Luxembourg,2023-11-29,Stage I,No,Passive Smoker,19.7,178,0,0,0,0,Combined,2025-01-08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889995,889996,40.0,Male,Malta,2022-07-01,Stage IV,No,Passive Smoker,44.8,243,1,1,1,0,Radiation,2023-02-23,0
889996,889997,62.0,Female,Cyprus,2015-09-27,Stage II,Yes,Former Smoker,21.6,240,0,0,0,0,Surgery,2017-06-19,0
889997,889998,48.0,Female,Estonia,2016-03-27,Stage III,Yes,Never Smoked,38.6,242,1,0,0,0,Combined,2017-01-23,1
889998,889999,67.0,Female,Slovakia,2015-12-22,Stage IV,Yes,Former Smoker,18.6,194,1,1,0,0,Chemotherapy,2017-12-12,0
889999,890000,55.0,Female,Malta,2021-07-26,Stage II,Yes,Current Smoker,42.8,250,0,0,0,0,Combined,2022-10-19,0

In [41]:
group.groupby('country')['survived'].sum().sort_values(ascending=False)

country
Malta             7426
Portugal          7372
Netherlands       7355
Estonia           7339
Czech Republic    7331
Romania           7318
Spain             7299
Finland           7296
Croatia           7287
Luxembourg        7284
Poland            7283
Ireland           7281
Germany           7280
Slovenia          7275
Greece            7255
Hungary           7252
Denmark           7246
Latvia            7246
Belgium           7243
Cyprus            7211
Lithuania         7195
Bulgaria          7175
Sweden            7165
France            7163
Austria           7153
Slovakia          7141
Italy             7133
Name: survived, dtype: int64

In [42]:
# Pivot tables      / DataFrame

In [43]:
group.columns  # List of columns in the DataFrame

Index(['id', 'age', 'gender', 'country', 'diagnosis_date', 'cancer_stage',
       'family_history', 'smoking_status', 'bmi', 'cholesterol_level',
       'hypertension', 'asthma', 'cirrhosis', 'other_cancer', 'treatment_type',
       'end_treatment_date', 'survived'],
      dtype='object')

In [44]:
group.head()

,id,age,gender,country,diagnosis_date,cancer_stage,family_history,smoking_status,bmi,cholesterol_level,hypertension,asthma,cirrhosis,other_cancer,treatment_type,end_treatment_date,survived
0,1,64.0,Male,Sweden,2016-04-05,Stage I,Yes,Passive Smoker,29.4,199,0,0,1,0,Chemotherapy,2017-09-10,0
1,2,50.0,Female,Netherlands,2023-04-20,Stage III,Yes,Passive Smoker,41.2,280,1,1,0,0,Surgery,2024-06-17,1
2,3,65.0,Female,Hungary,2023-04-05,Stage III,Yes,Former Smoker,44.0,268,1,1,0,0,Combined,2024-04-09,0
3,4,51.0,Female,Belgium,2016-02-05,Stage I,No,Passive Smoker,43.0,241,1,1,0,0,Chemotherapy,2017-04-23,0
4,5,37.0,Male,Luxembourg,2023-11-29,Stage I,No,Passive Smoker,19.7,178,0,0,0,0,Combined,2025-01-08,0

In [45]:
group.pivot_table(
    index= ['country', 'survived'], # hierarchical index
    values= 'cholesterol_level',
    columns= 'age'
)

age                      4.0    7.0    8.0    9.0    10.0   12.0   13.0   \
country        survived
Austria        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN  200.0    NaN    NaN
Belgium        0           NaN    NaN    NaN    NaN    NaN  282.0  291.0
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Bulgaria       0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Croatia        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Cyprus         0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Czech Republic 0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Denmark        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Estonia        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Finland        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
France         0           NaN    NaN    NaN    NaN  263.0    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Germany        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Greece         0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Hungary        0           NaN    NaN    NaN    NaN    NaN    NaN  236.0
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Ireland        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Italy          0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Latvia         0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Lithuania      0           NaN    NaN    NaN    NaN    NaN  269.0    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Luxembourg     0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Malta          0         255.0  249.0    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Netherlands    0           NaN    NaN    NaN  196.0    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Poland         0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Portugal       0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Romania        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Slovakia       0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Slovenia       0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Spain          0           NaN    NaN    NaN    NaN    NaN    NaN  190.0
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Sweden         0           NaN  239.0  200.0    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN

age                      14.0   15.0   16.0   ...       92.0        93.0   \
country        survived                       ...
Austria        0           NaN  183.0    NaN  ...  220.500000         NaN
               1         161.0    NaN    NaN  ...  280.000000  251.000000
Belgium        0           NaN    NaN  255.5  ...  208.000000  281.000000
               1           NaN    NaN    NaN  ...         NaN         NaN
Bulgaria       0           NaN    NaN    NaN  ...  173.000000         NaN
               1           NaN    NaN    NaN  ...         NaN  170.000000
Croatia        0           NaN    NaN  284.0  ...  215.000000  204.500000
               1           NaN    NaN    NaN  ...         NaN         NaN
Cyprus         0           NaN    NaN    NaN  ...  204.000000         NaN
               1         273.0    NaN  229.0  ...  235.000000         NaN
Czech Republic 0           NaN    NaN    NaN  ...         NaN         NaN
               1         294.0    NaN    NaN  ...         NaN  224.000000
Denmark        0           NaN  277.0    NaN  ...         NaN         NaN
               1           NaN    NaN    NaN  ...         NaN         NaN
Estonia        0           NaN    NaN    NaN  ...         NaN  168.000000
               1           NaN    NaN    NaN  ...         NaN         NaN
Finland        0           NaN    NaN  219.0  ...  235.500000  194.500000
               1           NaN    NaN    NaN  ...         NaN         NaN
France         0         224.0    NaN  232.0  ...         NaN  239.000000
               1           NaN    NaN    NaN  ...         NaN         NaN
Germany        0           NaN    NaN    NaN  ...         NaN  260.500000
               1           NaN    NaN  264.0  ...         NaN         NaN
Greece         0           NaN  156.0  163.0  ...  235.500000         NaN
               1           NaN    NaN    NaN  ...  234.000000         NaN
Hungary        0           NaN    NaN  243.0  ...  255.000000  247.500000
               1           NaN    NaN    NaN  ...  270.000000         NaN
Ireland        0           NaN  268.0  206.0  ...         NaN  236.000000
               1           NaN    NaN    NaN  ...         NaN  190.000000
Italy          0           NaN  268.0    NaN  ...  221.000000         NaN
               1           NaN    NaN    NaN  ...  179.000000         NaN
Latvia         0           NaN    NaN  157.0  ...  181.500000  281.500000
               1           NaN    NaN    NaN  ...         NaN         NaN
Lithuania      0         267.0  267.0    NaN  ...  194.666667         NaN
               1           NaN    NaN    NaN  ...         NaN         NaN
Luxembourg     0           NaN    NaN    NaN  ...  242.000000  254.000000
               1           NaN    NaN    NaN  ...         NaN         NaN
Malta          0         263.0    NaN    NaN  ...  295.000000         NaN
               1           NaN    NaN    NaN  ...         NaN         NaN
Netherlands    0           NaN    NaN    NaN  ...  225.333333  249.000000
               1           NaN  237.5    NaN  ...         NaN         NaN
Poland         0         273.0    NaN    NaN  ...  248.000000  246.333333
               1           NaN    NaN    NaN  ...         NaN         NaN
Portugal       0           NaN  198.0    NaN  ...         NaN  178.500000
               1           NaN    NaN    NaN  ...         NaN         NaN
Romania        0           NaN    NaN    NaN  ...         NaN  269.000000
               1         256.0  254.0    NaN  ...         NaN         NaN
Slovakia       0           NaN  284.0  233.0  ...  228.000000  282.000000
               1           NaN    NaN    NaN  ...         NaN         NaN
Slovenia       0           NaN    NaN    NaN  ...  184.000000  231.000000
               1           NaN    NaN    NaN  ...  241.000000         NaN
Spain          0         221.0  288.0  257.0  ...  267.500000         NaN
               1           NaN    NaN    NaN  ...         NaN         NaN
Sweden         0           NaN    NaN  160.0  ...  233.500000         NaN
               1           NaN    NaN  209.0  ...         NaN         NaN

age                      94.0   95.0   96.0   97.0   98.0   99.0   101.0  \
country        survived
Austria        0         232.0    NaN    NaN    NaN    NaN    NaN    NaN
               1         271.0    NaN    NaN  279.0    NaN    NaN    NaN
Belgium        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Bulgaria       0           NaN    NaN    NaN    NaN  255.0    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Croatia        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Cyprus         0         274.0    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Czech Republic 0         215.5    NaN    NaN    NaN  223.0    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Denmark        0         295.0    NaN  266.0    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Estonia        0           NaN    NaN  264.0    NaN    NaN    NaN    NaN
               1           NaN  206.0    NaN    NaN    NaN    NaN    NaN
Finland        0         151.0    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
France         0           NaN    NaN  248.0    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Germany        0         229.0    NaN  265.0    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Greece         0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN  197.0
Hungary        0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Ireland        0         247.0    NaN  181.0    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Italy          0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN  221.0    NaN    NaN    NaN    NaN    NaN
Latvia         0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Lithuania      0           NaN  179.0    NaN    NaN    NaN  291.0    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Luxembourg     0         288.0    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Malta          0           NaN    NaN    NaN    NaN    NaN  269.0    NaN
               1           NaN  262.0    NaN    NaN    NaN    NaN    NaN
Netherlands    0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN  217.0    NaN    NaN    NaN    NaN
Poland         0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Portugal       0           NaN    NaN    NaN    NaN    NaN    NaN    NaN
               1           NaN  248.0    NaN    NaN  278.0    NaN    NaN
Romania        0         226.0  249.0    NaN  150.0    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Slovakia       0         250.0    NaN    NaN    NaN    NaN    NaN    NaN
               1         272.0    NaN    NaN  179.0    NaN    NaN    NaN
Slovenia       0         288.0    NaN  259.0    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN  298.0    NaN    NaN    NaN
Spain          0         271.0    NaN    NaN    NaN  187.0    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN
Sweden         0           NaN  215.5    NaN    NaN    NaN    NaN    NaN
               1           NaN    NaN    NaN    NaN    NaN    NaN    NaN

age                      104.0
country        survived
Austria        0           NaN
               1           NaN
Belgium        0           NaN
               1           NaN
Bulgaria       0           NaN
               1           NaN
Croatia        0           NaN
               1           NaN
Cyprus         0           NaN
               1           NaN
Czech Republic 0           NaN
               1           NaN
Denmark        0         300.0
               1           NaN
Estonia        0           NaN
               1           NaN
Finland        0           NaN
               1           NaN
France         0           NaN
               1           NaN
Germany        0           NaN
               1           NaN
Greece         0           NaN
               1           NaN
Hungary        0           NaN
               1           NaN
Ireland        0           NaN
               1           NaN
Italy          0           NaN
               1           NaN
Latvia         0           NaN
               1           NaN
Lithuania      0           NaN
               1           NaN
Luxembourg     0           NaN
               1           NaN
Malta          0           NaN
               1           NaN
Netherlands    0           NaN
               1           NaN
Poland         0           NaN
               1           NaN
Portugal       0           NaN
               1           NaN
Romania        0           NaN
               1           NaN
Slovakia       0           NaN
               1           NaN
Slovenia       0           NaN
               1           NaN
Spain          0           NaN
               1           NaN
Sweden         0           NaN
               1           NaN

[54 rows x 95 columns]

In [46]:
group.pivot_table(
    index= 'country',
    values= 'cholesterol_level',
    columns= 'age'
)

age,4.0,7.0,8.0,9.0,10.0,12.0,13.0,14.0,15.0,16.0,...,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0,101.0,104.0
country,,,,,,,,,,,,,,,,,,,,,
Austria,NaN,NaN,NaN,NaN,200.0,NaN,NaN,161.0,183.0,NaN,...,240.333333,251.000000,251.5,NaN,NaN,279.0,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,282.0,291.0,NaN,NaN,255.5,...,208.000000,281.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,173.000000,170.000000,NaN,NaN,NaN,NaN,255.0,NaN,NaN,NaN
Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,284.0,...,215.000000,204.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.0,NaN,229.0,...,224.666667,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.0,NaN,NaN,...,NaN,224.000000,215.5,NaN,NaN,NaN,223.0,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.0,NaN,...,NaN,NaN,295.0,NaN,266.0,NaN,NaN,NaN,NaN,300.0
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,168.000000,NaN,206.0,264.0,NaN,NaN,NaN,NaN,NaN
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219.0,...,235.500000,194.500000,151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,NaN,NaN,NaN,NaN,263.0,NaN,NaN,224.0,NaN,232.0,...,NaN,239.000000,NaN,NaN,248.0,NaN,NaN,NaN,NaN,NaN
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,264.0,...,NaN,260.500000,229.0,NaN,265.0,NaN,NaN,NaN,NaN,NaN
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.0,163.0,...,235.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0,NaN
Hungary,NaN,NaN,NaN,NaN,NaN,NaN,236.0,NaN,NaN,243.0,...,260.000000,247.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.0,206.0,...,NaN,213.000000,247.0,NaN,181.0,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.0,NaN,...,200.000000,NaN,NaN,221.0,NaN,NaN,NaN,NaN,NaN,NaN
Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157.0,...,181.500000,281.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,269.0,NaN,267.0,267.0,NaN,...,194.666667,NaN,NaN,179.0,NaN,NaN,NaN,291.0,NaN,NaN
Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,242.000000,254.000000,288.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Malta,255.0,249.0,NaN,NaN,NaN,NaN,NaN,263.0,NaN,NaN,...,295.000000,NaN,NaN,262.0,NaN,NaN,NaN,269.0,NaN,NaN
Netherlands,NaN,NaN,NaN,196.0,NaN,NaN,NaN,NaN,237.5,NaN,...,225.333333,249.000000,NaN,NaN,217.0,NaN,NaN,NaN,NaN,NaN
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.0,NaN,NaN,...,248.000000,246.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,NaN,...,NaN,178.500000,NaN,248.0,NaN,NaN,278.0,NaN,NaN,NaN
Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,256.0,254.0,NaN,...,NaN,269.000000,226.0,249.0,NaN,150.0,NaN,NaN,NaN,NaN
Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,284.0,233.0,...,228.000000,282.000000,261.0,NaN,NaN,179.0,NaN,NaN,NaN,NaN
Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222.000000,231.000000,288.0,NaN,259.0,298.0,NaN,NaN,NaN,NaN
Spain,NaN,NaN,NaN,NaN,NaN,NaN,190.0,221.0,288.0,257.0,...,267.500000,NaN,271.0,NaN,NaN,NaN,187.0,NaN,NaN,NaN
Sweden,NaN,239.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,184.5,...,233.500000,NaN,NaN,215.5,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
pd.set_option('display.max_columns', None)
group.pivot_table(
    index= 'country',
    values= 'cholesterol_level',
    columns= 'age',
    aggfunc=['min', 'max']
)

                  min                                                          \
age             4.0    7.0    8.0    9.0    10.0   12.0   13.0   14.0   15.0
country
Austria           NaN    NaN    NaN    NaN  200.0    NaN    NaN  161.0  164.0
Belgium           NaN    NaN    NaN    NaN    NaN  282.0  291.0    NaN    NaN
Bulgaria          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Croatia           NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Cyprus            NaN    NaN    NaN    NaN    NaN    NaN    NaN  273.0    NaN
Czech Republic    NaN    NaN    NaN    NaN    NaN    NaN    NaN  294.0    NaN
Denmark           NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  277.0
Estonia           NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Finland           NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
France            NaN    NaN    NaN    NaN  263.0    NaN    NaN  224.0    NaN
Germany           NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Greece            NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  156.0
Hungary           NaN    NaN    NaN    NaN    NaN    NaN  236.0    NaN    NaN
Ireland           NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  268.0
Italy             NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  268.0
Latvia            NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Lithuania         NaN    NaN    NaN    NaN    NaN  269.0    NaN  265.0  267.0
Luxembourg        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Malta           255.0  249.0    NaN    NaN    NaN    NaN    NaN  263.0    NaN
Netherlands       NaN    NaN    NaN  196.0    NaN    NaN    NaN    NaN  226.0
Poland            NaN    NaN    NaN    NaN    NaN    NaN    NaN  273.0    NaN
Portugal          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  198.0
Romania           NaN    NaN    NaN    NaN    NaN    NaN    NaN  256.0  254.0
Slovakia          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  284.0
Slovenia          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Spain             NaN    NaN    NaN    NaN    NaN    NaN  190.0  221.0  288.0
Sweden            NaN  239.0  200.0    NaN    NaN    NaN    NaN    NaN    NaN

                                                                               \
age             16.0   17.0   18.0   19.0   20.0   21.0   22.0   23.0   24.0
country
Austria           NaN    NaN    NaN  296.0  205.0  166.0  214.0  152.0  179.0
Belgium         251.0  259.0    NaN  221.0  257.0  276.0  152.0  175.0  178.0
Bulgaria          NaN    NaN  239.0  300.0  160.0  197.0  177.0  162.0  157.0
Croatia         279.0  175.0  239.0    NaN  207.0  192.0  207.0  171.0  158.0
Cyprus          229.0  195.0  259.0  175.0  155.0  189.0  187.0  154.0  158.0
Czech Republic    NaN  254.0  278.0  287.0  252.0  154.0  215.0  178.0  175.0
Denmark           NaN  210.0  268.0    NaN  152.0  154.0  169.0  157.0  153.0
Estonia           NaN    NaN  253.0  235.0  164.0  151.0  187.0  168.0  153.0
Finland         219.0  246.0  268.0  174.0  166.0  273.0  244.0  211.0  167.0
France          190.0  161.0  187.0  266.0  169.0  246.0  163.0  150.0  190.0
Germany         264.0  175.0  283.0  188.0  228.0  176.0  198.0  189.0  167.0
Greece          163.0  250.0    NaN  172.0  170.0  162.0  177.0  151.0  164.0
Hungary         243.0    NaN  268.0  181.0  185.0  270.0  161.0  153.0  161.0
Ireland         206.0  178.0  174.0  163.0  224.0  156.0  157.0  178.0  157.0
Italy             NaN  181.0  211.0  207.0  189.0  246.0  244.0  157.0  179.0
Latvia          157.0  209.0  267.0  198.0  193.0  197.0  158.0  156.0  157.0
Lithuania         NaN  169.0  286.0  175.0  274.0  235.0  177.0  153.0  183.0
Luxembourg        NaN    NaN  253.0    NaN  152.0  208.0  169.0  150.0  177.0
Malta             NaN    NaN    NaN  235.0  209.0  160.0  177.0  154.0  157.0
Netherlands       NaN  196.0  227.0    NaN  181.0  171.0  205.0  152.0  162.0
Poland            NaN    NaN  170.0  197.0  153.0  244.0  191.0  222.0  171.0
Portugal          NaN    NaN  284.0  161.0  273.0  200.0  172.0  165.0  162.0
Romania           NaN  190.0  202.0  245.0  220.0  164.0  150.0  188.0  157.0
Slovakia        233.0  215.0  207.0  242.0  183.0  280.0  165.0  163.0  218.0
Slovenia          NaN  180.0  197.0  211.0    NaN  186.0  177.0  168.0  158.0
Spain           257.0    NaN  208.0  163.0  158.0    NaN  201.0  184.0  150.0
Sweden          160.0    NaN    NaN  210.0  162.0  236.0  211.0  152.0  209.0

                                                                               \
age             25.0   26.0   27.0   28.0   29.0   30.0   31.0   32.0   33.0
country
Austria         152.0  152.0  152.0  154.0  159.0  151.0  153.0  150.0  151.0
Belgium         153.0  152.0  157.0  152.0  155.0  154.0  151.0  150.0  151.0
Bulgaria        185.0  153.0  163.0  166.0  154.0  158.0  153.0  151.0  150.0
Croatia         186.0  153.0  191.0  150.0  150.0  152.0  150.0  151.0  150.0
Cyprus          155.0  168.0  151.0  167.0  150.0  152.0  151.0  156.0  151.0
Czech Republic  186.0  153.0  155.0  159.0  158.0  151.0  150.0  150.0  160.0
Denmark         155.0  150.0  158.0  151.0  152.0  150.0  152.0  150.0  152.0
Estonia         158.0  154.0  169.0  158.0  151.0  156.0  153.0  157.0  152.0
Finland         167.0  156.0  158.0  153.0  153.0  150.0  153.0  155.0  151.0
France          151.0  165.0  153.0  150.0  151.0  150.0  151.0  151.0  150.0
Germany         166.0  162.0  156.0  151.0  169.0  151.0  157.0  151.0  150.0
Greece          151.0  152.0  160.0  156.0  152.0  153.0  157.0  151.0  152.0
Hungary         155.0  170.0  151.0  154.0  155.0  151.0  157.0  151.0  150.0
Ireland         156.0  158.0  159.0  154.0  153.0  151.0  151.0  150.0  156.0
Italy           151.0  180.0  159.0  153.0  154.0  151.0  155.0  150.0  150.0
Latvia          150.0  159.0  162.0  151.0  155.0  152.0  152.0  154.0  150.0
Lithuania       152.0  182.0  151.0  158.0  150.0  153.0  154.0  151.0  151.0
Luxembourg      165.0  152.0  151.0  151.0  153.0  152.0  152.0  154.0  151.0
Malta           175.0  157.0  177.0  154.0  154.0  154.0  150.0  151.0  151.0
Netherlands     169.0  154.0  159.0  155.0  159.0  153.0  150.0  152.0  150.0
Poland          153.0  167.0  157.0  153.0  162.0  159.0  154.0  153.0  150.0
Portugal        174.0  166.0  155.0  150.0  158.0  151.0  151.0  153.0  151.0
Romania         153.0  163.0  161.0  167.0  153.0  153.0  151.0  151.0  151.0
Slovakia        150.0  157.0  152.0  152.0  155.0  155.0  152.0  152.0  151.0
Slovenia        171.0  161.0  155.0  150.0  152.0  152.0  154.0  156.0  159.0
Spain           167.0  155.0  172.0  151.0  156.0  152.0  151.0  150.0  151.0
Sweden          183.0  154.0  153.0  151.0  158.0  151.0  157.0  150.0  151.0

                                                                               \
age             34.0   35.0   36.0   37.0   38.0   39.0   40.0   41.0   42.0
country
Austria         153.0  151.0  152.0  152.0  151.0  150.0  150.0  150.0  150.0
Belgium         150.0  152.0  150.0  151.0  150.0  150.0  150.0  150.0  150.0
Bulgaria        150.0  150.0  150.0  152.0  150.0  150.0  150.0  150.0  151.0
Croatia         152.0  151.0  150.0  151.0  154.0  150.0  151.0  150.0  150.0
Cyprus          151.0  150.0  151.0  150.0  150.0  151.0  151.0  151.0  151.0
Czech Republic  153.0  151.0  152.0  151.0  150.0  150.0  150.0  150.0  150.0
Denmark         150.0  150.0  151.0  151.0  151.0  150.0  151.0  150.0  150.0
Estonia         150.0  151.0  150.0  150.0  150.0  150.0  151.0  151.0  150.0
Finland         153.0  150.0  150.0  151.0  150.0  150.0  150.0  150.0  150.0
France          152.0  150.0  151.0  150.0  150.0  150.0  150.0  152.0  150.0
Germany         151.0  150.0  150.0  151.0  150.0  150.0  150.0  150.0  150.0
Greece          150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Hungary         153.0  152.0  151.0  151.0  150.0  150.0  150.0  150.0  150.0
Ireland         150.0  150.0  152.0  150.0  150.0  150.0  150.0  150.0  150.0
Italy           151.0  151.0  151.0  151.0  151.0  150.0  151.0  150.0  150.0
Latvia          151.0  150.0  152.0  150.0  150.0  150.0  150.0  150.0  150.0
Lithuania       151.0  151.0  151.0  151.0  150.0  150.0  150.0  150.0  150.0
Luxembourg      153.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0  150.0
Malta           151.0  152.0  151.0  150.0  150.0  150.0  151.0  150.0  151.0
Netherlands     150.0  151.0  151.0  150.0  150.0  150.0  150.0  150.0  150.0
Poland          152.0  150.0  151.0  151.0  150.0  151.0  151.0  150.0  151.0
Portugal        150.0  150.0  150.0  150.0  152.0  150.0  151.0  150.0  150.0
Romania         150.0  151.0  150.0  151.0  150.0  151.0  150.0  150.0  150.0
Slovakia        152.0  152.0  151.0  151.0  151.0  151.0  150.0  150.0  150.0
Slovenia        150.0  150.0  150.0  150.0  151.0  150.0  152.0  150.0  150.0
Spain           150.0  151.0  151.0  151.0  150.0  150.0  150.0  150.0  150.0
Sweden          150.0  150.0  151.0  150.0  151.0  150.0  150.0  150.0  150.0

                                                                               \
age             43.0   44.0   45.0   46.0   47.0   48.0   49.0   50.0   51.0
country
Austria         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Belgium         151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Bulgaria        151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Croatia         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Cyprus          150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Czech Republic  151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Denmark         150.0  150.0  151.0  150.0  150.0  150.0  150.0  150.0  150.0
Estonia         150.0  150.0  150.0  151.0  150.0  150.0  150.0  150.0  151.0
Finland         150.0  151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
France          150.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0  150.0
Germany         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Greece          151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Hungary         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Ireland         150.0  150.0  151.0  150.0  150.0  150.0  150.0  150.0  150.0
Italy           150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Latvia          151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Lithuania       150.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0  150.0
Luxembourg      151.0  150.0  151.0  150.0  151.0  150.0  150.0  150.0  150.0
Malta           150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Netherlands     150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0
Poland          150.0  151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Portugal        150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Romania         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Slovakia        151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Slovenia        150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0
Spain           150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Sweden          151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0

                                                                               \
age             52.0   53.0   54.0   55.0   56.0   57.0   58.0   59.0   60.0
country
Austria         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Belgium         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Bulgaria        150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Croatia         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Cyprus          150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Czech Republic  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Denmark         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Estonia         150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0
Finland         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0
France          150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Germany         150.0  151.0  150.0  151.0  150.0  150.0  150.0  150.0  150.0
Greece          150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Hungary         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Ireland         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Italy           150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Latvia          150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Lithuania       150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Luxembourg      150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Malta           150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Netherlands     150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Poland          150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Portugal        150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0  151.0
Romania         150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0
Slovakia        150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0
Slovenia        150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Spain           150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Sweden          150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0  151.0

                                                                               \
age             61.0   62.0   63.0   64.0   65.0   66.0   67.0   68.0   69.0
country
Austria         150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0  151.0
Belgium         151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Bulgaria        150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0
Croatia         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0
Cyprus          150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0
Czech Republic  150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0
Denmark         150.0  150.0  150.0  151.0  150.0  150.0  151.0  150.0  151.0
Estonia         150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Finland         150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0  151.0
France          150.0  151.0  150.0  150.0  150.0  151.0  150.0  150.0  151.0
Germany         150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0
Greece          150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0
Hungary         150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0  151.0
Ireland         150.0  150.0  151.0  151.0  150.0  150.0  150.0  150.0  151.0
Italy           150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  151.0
Latvia          150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  153.0
Lithuania       150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0
Luxembourg      150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0
Malta           150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0
Netherlands     150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0
Poland          150.0  150.0  150.0  151.0  150.0  150.0  150.0  150.0  150.0
Portugal        150.0  150.0  150.0  150.0  151.0  150.0  150.0  150.0  150.0
Romania         150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0
Slovakia        150.0  150.0  150.0  150.0  151.0  151.0  150.0  150.0  151.0
Slovenia        150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0
Spain           150.0  150.0  150.0  150.0  150.0  150.0  151.0  150.0  150.0
Sweden          151.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0  150.0

                                                                               \
age             70.0   71.0   72.0   73.0   74.0   75.0   76.0   77.0   78.0
country
Austria         150.0  151.0  150.0  151.0  150.0  151.0  153.0  150.0  154.0
Belgium         150.0  151.0  152.0  150.0  151.0  150.0  153.0  151.0  150.0
Bulgaria        151.0  150.0  151.0  151.0  152.0  150.0  152.0  151.0  150.0
Croatia         151.0  151.0  150.0  150.0  151.0  151.0  153.0  150.0  154.0
Cyprus          152.0  151.0  151.0  150.0  151.0  150.0  153.0  150.0  158.0
Czech Republic  152.0  151.0  153.0  150.0  151.0  151.0  151.0  151.0  150.0
Denmark         150.0  150.0  150.0  151.0  150.0  155.0  150.0  151.0  153.0
Estonia         150.0  151.0  152.0  150.0  150.0  150.0  152.0  154.0  154.0
Finland         150.0  150.0  150.0  150.0  152.0  150.0  152.0  152.0  154.0
France          150.0  151.0  150.0  151.0  150.0  150.0  151.0  152.0  157.0
Germany         150.0  150.0  150.0  151.0  150.0  150.0  153.0  151.0  155.0
Greece          150.0  151.0  151.0  150.0  150.0  151.0  150.0  153.0  155.0
Hungary         151.0  151.0  150.0  151.0  150.0  152.0  153.0  151.0  150.0
Ireland         151.0  151.0  150.0  150.0  150.0  151.0  151.0  151.0  152.0
Italy           151.0  150.0  151.0  150.0  151.0  152.0  153.0  151.0  163.0
Latvia          151.0  151.0  150.0  151.0  153.0  152.0  150.0  150.0  151.0
Lithuania       150.0  150.0  151.0  151.0  151.0  156.0  151.0  152.0  152.0
Luxembourg      151.0  150.0  150.0  150.0  151.0  152.0  153.0  152.0  152.0
Malta           150.0  151.0  150.0  151.0  151.0  150.0  151.0  150.0  150.0
Netherlands     151.0  150.0  150.0  151.0  150.0  150.0  152.0  151.0  151.0
Poland          151.0  151.0  150.0  152.0  150.0  151.0  152.0  150.0  150.0
Portugal        150.0  151.0  152.0  151.0  151.0  152.0  153.0  152.0  150.0
Romania         151.0  150.0  150.0  151.0  151.0  151.0  150.0  152.0  152.0
Slovakia        150.0  150.0  151.0  150.0  151.0  150.0  152.0  155.0  152.0
Slovenia        150.0  151.0  152.0  150.0  150.0  150.0  150.0  151.0  154.0
Spain           151.0  151.0  150.0  150.0  152.0  150.0  151.0  150.0  155.0
Sweden          150.0  151.0  151.0  151.0  150.0  150.0  154.0  150.0  150.0

                                                                               \
age             79.0   80.0   81.0   82.0   83.0   84.0   85.0   86.0   87.0
country
Austria         152.0  161.0  150.0  164.0  156.0  156.0  154.0  163.0  186.0
Belgium         151.0  156.0  155.0  153.0  163.0  162.0  150.0  157.0  215.0
Bulgaria        152.0  152.0  150.0  156.0  152.0  176.0  163.0  157.0  151.0
Croatia         153.0  154.0  151.0  169.0  158.0  154.0  150.0  201.0  156.0
Cyprus          152.0  152.0  156.0  154.0  155.0  151.0  160.0  260.0  165.0
Czech Republic  150.0  159.0  152.0  151.0  171.0  162.0  171.0  150.0  152.0
Denmark         150.0  155.0  156.0  158.0  157.0  157.0  154.0  190.0  169.0
Estonia         151.0  153.0  155.0  159.0  154.0  160.0  168.0  150.0  161.0
Finland         150.0  151.0  158.0  150.0  158.0  172.0  162.0  203.0  170.0
France          151.0  151.0  152.0  153.0  153.0  157.0  155.0  152.0  155.0
Germany         154.0  151.0  154.0  153.0  159.0  150.0  155.0  156.0  281.0
Greece          153.0  152.0  152.0  152.0  160.0  177.0  156.0  155.0  174.0
Hungary         152.0  151.0  157.0  153.0  153.0  157.0  160.0  156.0  163.0
Ireland         156.0  153.0  150.0  157.0  151.0  158.0  159.0  154.0  207.0
Italy           156.0  151.0  156.0  153.0  159.0  164.0  154.0  163.0  166.0
Latvia          151.0  151.0  152.0  150.0  159.0  167.0  150.0  173.0  164.0
Lithuania       153.0  154.0  158.0  160.0  158.0  155.0  151.0  151.0  161.0
Luxembourg      151.0  151.0  151.0  161.0  164.0  175.0  157.0  170.0  175.0
Malta           151.0  153.0  153.0  153.0  164.0  153.0  162.0  174.0  157.0
Netherlands     152.0  154.0  156.0  169.0  178.0  156.0  152.0  162.0  164.0
Poland          157.0  151.0  161.0  159.0  154.0  159.0  158.0  153.0  164.0

In [48]:
pd.reset_option('display.max_columns')
group.pivot_table(
    index= 'country',
    values= 'cholesterol_level',
    columns= 'age'
)

age,4.0,7.0,8.0,9.0,10.0,12.0,13.0,14.0,15.0,16.0,...,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0,101.0,104.0
country,,,,,,,,,,,,,,,,,,,,,
Austria,NaN,NaN,NaN,NaN,200.0,NaN,NaN,161.0,183.0,NaN,...,240.333333,251.000000,251.5,NaN,NaN,279.0,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,282.0,291.0,NaN,NaN,255.5,...,208.000000,281.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,173.000000,170.000000,NaN,NaN,NaN,NaN,255.0,NaN,NaN,NaN
Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,284.0,...,215.000000,204.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.0,NaN,229.0,...,224.666667,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.0,NaN,NaN,...,NaN,224.000000,215.5,NaN,NaN,NaN,223.0,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.0,NaN,...,NaN,NaN,295.0,NaN,266.0,NaN,NaN,NaN,NaN,300.0
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,168.000000,NaN,206.0,264.0,NaN,NaN,NaN,NaN,NaN
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219.0,...,235.500000,194.500000,151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,NaN,NaN,NaN,NaN,263.0,NaN,NaN,224.0,NaN,232.0,...,NaN,239.000000,NaN,NaN,248.0,NaN,NaN,NaN,NaN,NaN
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,264.0,...,NaN,260.500000,229.0,NaN,265.0,NaN,NaN,NaN,NaN,NaN
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.0,163.0,...,235.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0,NaN
Hungary,NaN,NaN,NaN,NaN,NaN,NaN,236.0,NaN,NaN,243.0,...,260.000000,247.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.0,206.0,...,NaN,213.000000,247.0,NaN,181.0,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.0,NaN,...,200.000000,NaN,NaN,221.0,NaN,NaN,NaN,NaN,NaN,NaN
Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157.0,...,181.500000,281.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,269.0,NaN,267.0,267.0,NaN,...,194.666667,NaN,NaN,179.0,NaN,NaN,NaN,291.0,NaN,NaN
Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,242.000000,254.000000,288.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Malta,255.0,249.0,NaN,NaN,NaN,NaN,NaN,263.0,NaN,NaN,...,295.000000,NaN,NaN,262.0,NaN,NaN,NaN,269.0,NaN,NaN
Netherlands,NaN,NaN,NaN,196.0,NaN,NaN,NaN,NaN,237.5,NaN,...,225.333333,249.000000,NaN,NaN,217.0,NaN,NaN,NaN,NaN,NaN
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.0,NaN,NaN,...,248.000000,246.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,NaN,...,NaN,178.500000,NaN,248.0,NaN,NaN,278.0,NaN,NaN,NaN
Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,256.0,254.0,NaN,...,NaN,269.000000,226.0,249.0,NaN,150.0,NaN,NaN,NaN,NaN
Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,284.0,233.0,...,228.000000,282.000000,261.0,NaN,NaN,179.0,NaN,NaN,NaN,NaN
Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222.000000,231.000000,288.0,NaN,259.0,298.0,NaN,NaN,NaN,NaN
Spain,NaN,NaN,NaN,NaN,NaN,NaN,190.0,221.0,288.0,257.0,...,267.500000,NaN,271.0,NaN,NaN,NaN,187.0,NaN,NaN,NaN
Sweden,NaN,239.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,184.5,...,233.500000,NaN,NaN,215.5,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
med_data_cut = group[['country', 'cholesterol_level', 'age']]
med_data_cut

            country  cholesterol_level   age
0            Sweden                199  64.0
1       Netherlands                280  50.0
2           Hungary                268  65.0
3           Belgium                241  51.0
4        Luxembourg                178  37.0
...             ...                ...   ...
889995        Malta                243  40.0
889996       Cyprus                240  62.0
889997      Estonia                242  48.0
889998     Slovakia                194  67.0
889999        Malta                250  55.0

[890000 rows x 3 columns]

In [50]:
med_data_cut.pivot_table(
    index= 'country',
    values= 'cholesterol_level',
    columns= 'age',
)

# Using pivot_table / NOT only pivot because pivot requires unique index values

age,4.0,7.0,8.0,9.0,10.0,12.0,13.0,14.0,15.0,16.0,...,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0,101.0,104.0
country,,,,,,,,,,,,,,,,,,,,,
Austria,NaN,NaN,NaN,NaN,200.0,NaN,NaN,161.0,183.0,NaN,...,240.333333,251.000000,251.5,NaN,NaN,279.0,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,282.0,291.0,NaN,NaN,255.5,...,208.000000,281.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,173.000000,170.000000,NaN,NaN,NaN,NaN,255.0,NaN,NaN,NaN
Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,284.0,...,215.000000,204.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.0,NaN,229.0,...,224.666667,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.0,NaN,NaN,...,NaN,224.000000,215.5,NaN,NaN,NaN,223.0,NaN,NaN,NaN
Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.0,NaN,...,NaN,NaN,295.0,NaN,266.0,NaN,NaN,NaN,NaN,300.0
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,168.000000,NaN,206.0,264.0,NaN,NaN,NaN,NaN,NaN
Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219.0,...,235.500000,194.500000,151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,NaN,NaN,NaN,NaN,263.0,NaN,NaN,224.0,NaN,232.0,...,NaN,239.000000,NaN,NaN,248.0,NaN,NaN,NaN,NaN,NaN
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,264.0,...,NaN,260.500000,229.0,NaN,265.0,NaN,NaN,NaN,NaN,NaN
Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.0,163.0,...,235.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0,NaN
Hungary,NaN,NaN,NaN,NaN,NaN,NaN,236.0,NaN,NaN,243.0,...,260.000000,247.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.0,206.0,...,NaN,213.000000,247.0,NaN,181.0,NaN,NaN,NaN,NaN,NaN
Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.0,NaN,...,200.000000,NaN,NaN,221.0,NaN,NaN,NaN,NaN,NaN,NaN
Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157.0,...,181.500000,281.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,269.0,NaN,267.0,267.0,NaN,...,194.666667,NaN,NaN,179.0,NaN,NaN,NaN,291.0,NaN,NaN
Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,242.000000,254.000000,288.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Malta,255.0,249.0,NaN,NaN,NaN,NaN,NaN,263.0,NaN,NaN,...,295.000000,NaN,NaN,262.0,NaN,NaN,NaN,269.0,NaN,NaN
Netherlands,NaN,NaN,NaN,196.0,NaN,NaN,NaN,NaN,237.5,NaN,...,225.333333,249.000000,NaN,NaN,217.0,NaN,NaN,NaN,NaN,NaN
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.0,NaN,NaN,...,248.000000,246.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,NaN,...,NaN,178.500000,NaN,248.0,NaN,NaN,278.0,NaN,NaN,NaN
Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,256.0,254.0,NaN,...,NaN,269.000000,226.0,249.0,NaN,150.0,NaN,NaN,NaN,NaN
Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,284.0,233.0,...,228.000000,282.000000,261.0,NaN,NaN,179.0,NaN,NaN,NaN,NaN
Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,222.000000,231.000000,288.0,NaN,259.0,298.0,NaN,NaN,NaN,NaN
Spain,NaN,NaN,NaN,NaN,NaN,NaN,190.0,221.0,288.0,257.0,...,267.500000,NaN,271.0,NaN,NaN,NaN,187.0,NaN,NaN,NaN
Sweden,NaN,239.0,200.0,NaN,NaN,NaN,NaN,NaN,NaN,184.5,...,233.500000,NaN,NaN,215.5,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# Joining data structures

In [52]:
df1 = pd.DataFrame(np.arange(12).reshape(3, 4), columns=list('ABCD'))
df2 = pd.DataFrame(np.arange(12,30).reshape(3, 6), columns=list('CDEFGH'))
df1

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [53]:
df2

    C   D   E   F   G   H
0  12  13  14  15  16  17
1  18  19  20  21  22  23
2  24  25  26  27  28  29

In [54]:
pd.concat([df1, df2], axis=0, ignore_index=True)   
# axis=1 for columns, axis=0 for rows     
# ignore_index for new index
# keys=['df1', 'df2']  for multi-indexing

     A    B   C   D     E     F     G     H
0  0.0  1.0   2   3   NaN   NaN   NaN   NaN
1  4.0  5.0   6   7   NaN   NaN   NaN   NaN
2  8.0  9.0  10  11   NaN   NaN   NaN   NaN
3  NaN  NaN  12  13  14.0  15.0  16.0  17.0
4  NaN  NaN  18  19  20.0  21.0  22.0  23.0
5  NaN  NaN  24  25  26.0  27.0  28.0  29.0

In [55]:
pd.concat([df1, df2], join='inner')

    C   D
0   2   3
1   6   7
2  10  11
0  12  13
1  18  19
2  24  25

In [56]:
# Second option for joining dataframes -> MERGE

In [57]:
patients = pd.DataFrame({
    'patient_id': [1, 2, 3],
    'name': ['Anna', 'Boris', 'Clara']
})
doctors = pd.DataFrame({
    'doctor_id': [1, 2, 3, 4],
    'name': ['Dr. Smith', 'Dr. Jones', 'Dr. Brown', 'Dr. White'],
    'patient_id': [1, 2, 3, 4]  # Foreign key to patients
})

In [58]:
record = pd.merge(patients, doctors, on='patient_id')
record

   patient_id name_x  doctor_id     name_y
0           1   Anna          1  Dr. Smith
1           2  Boris          2  Dr. Jones
2           3  Clara          3  Dr. Brown

In [59]:
patients.rename(columns={'patient_id': 'id'}, inplace=True)

In [60]:
# record = pd.merge(patients, doctors, on='patient_id')
record

   patient_id name_x  doctor_id     name_y
0           1   Anna          1  Dr. Smith
1           2  Boris          2  Dr. Jones
2           3  Clara          3  Dr. Brown

In [61]:
record = pd.merge(patients, doctors, left_on='id', right_on='patient_id', how='outer')  
# Explicitly specify the join keys
# How is the type of join: 'inner', 'outer', 'left', 'right'
record

    id name_x  doctor_id     name_y  patient_id
0  1.0   Anna          1  Dr. Smith           1
1  2.0  Boris          2  Dr. Jones           2
2  3.0  Clara          3  Dr. Brown           3
3  NaN    NaN          4  Dr. White           4

In [62]:
# Time

In [63]:
import datetime as dt

In [64]:
dt.datetime.now()  # Current date and time

datetime.datetime(2025, 6, 19, 15, 39, 56, 676924)

In [65]:
np.datetime64(dt.datetime.now(), 'ms')

np.datetime64('2025-06-19T15:39:56.685')

In [66]:
# Timestamp

In [67]:
med_data = pd.read_csv('datasets\dataset_med.csv')
med_data

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\filip\AppData\Local\Temp\ipykernel_9536\2172230116.py:1: SyntaxWarning: invalid escape sequence '\d'
  med_data = pd.read_csv('datasets\dataset_med.csv')

,id,age,gender,country,diagnosis_date,cancer_stage,family_history,smoking_status,bmi,cholesterol_level,hypertension,asthma,cirrhosis,other_cancer,treatment_type,end_treatment_date,survived
0,1,64.0,Male,Sweden,2016-04-05,Stage I,Yes,Passive Smoker,29.4,199,0,0,1,0,Chemotherapy,2017-09-10,0
1,2,50.0,Female,Netherlands,2023-04-20,Stage III,Yes,Passive Smoker,41.2,280,1,1,0,0,Surgery,2024-06-17,1
2,3,65.0,Female,Hungary,2023-04-05,Stage III,Yes,Former Smoker,44.0,268,1,1,0,0,Combined,2024-04-09,0
3,4,51.0,Female,Belgium,2016-02-05,Stage I,No,Passive Smoker,43.0,241,1,1,0,0,Chemotherapy,2017-04-23,0
4,5,37.0,Male,Luxembourg,2023-11-29,Stage I,No,Passive Smoker,19.7,178,0,0,0,0,Combined,2025-01-08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889995,889996,40.0,Male,Malta,2022-07-01,Stage IV,No,Passive Smoker,44.8,243,1,1,1,0,Radiation,2023-02-23,0
889996,889997,62.0,Female,Cyprus,2015-09-27,Stage II,Yes,Former Smoker,21.6,240,0,0,0,0,Surgery,2017-06-19,0
889997,889998,48.0,Female,Estonia,2016-03-27,Stage III,Yes,Never Smoked,38.6,242,1,0,0,0,Combined,2017-01-23,1
889998,889999,67.0,Female,Slovakia,2015-12-22,Stage IV,Yes,Former Smoker,18.6,194,1,1,0,0,Chemotherapy,2017-12-12,0
889999,890000,55.0,Female,Malta,2021-07-26,Stage II,Yes,Current Smoker,42.8,250,0,0,0,0,Combined,2022-10-19,0

In [68]:
med_data.dtypes

id                      int64
age                   float64
gender                 object
country                object
diagnosis_date         object
cancer_stage           object
family_history         object
smoking_status         object
bmi                   float64
cholesterol_level       int64
hypertension            int64
asthma                  int64
cirrhosis               int64
other_cancer            int64
treatment_type         object
end_treatment_date     object
survived                int64
dtype: object

In [69]:
med_data['diagnosis_date'] = pd.to_datetime(med_data['diagnosis_date'])
med_data['end_treatment_date'] = pd.to_datetime(med_data['end_treatment_date'])
med_data.dtypes  # Check the dtype after conversion

id                             int64
age                          float64
gender                        object
country                       object
diagnosis_date        datetime64[ns]
cancer_stage                  object
family_history                object
smoking_status                object
bmi                          float64
cholesterol_level              int64
hypertension                   int64
asthma                         int64
cirrhosis                      int64
other_cancer                   int64
treatment_type                object
end_treatment_date    datetime64[ns]
survived                       int64
dtype: object

In [70]:
# Time index

In [71]:
med_data.index = med_data['diagnosis_date']
med_data.drop(columns=['diagnosis_date'], inplace=True)
med_data

,id,age,gender,country,cancer_stage,family_history,smoking_status,bmi,cholesterol_level,hypertension,asthma,cirrhosis,other_cancer,treatment_type,end_treatment_date,survived
diagnosis_date,,,,,,,,,,,,,,,,
2016-04-05,1,64.0,Male,Sweden,Stage I,Yes,Passive Smoker,29.4,199,0,0,1,0,Chemotherapy,2017-09-10,0
2023-04-20,2,50.0,Female,Netherlands,Stage III,Yes,Passive Smoker,41.2,280,1,1,0,0,Surgery,2024-06-17,1
2023-04-05,3,65.0,Female,Hungary,Stage III,Yes,Former Smoker,44.0,268,1,1,0,0,Combined,2024-04-09,0
2016-02-05,4,51.0,Female,Belgium,Stage I,No,Passive Smoker,43.0,241,1,1,0,0,Chemotherapy,2017-04-23,0
2023-11-29,5,37.0,Male,Luxembourg,Stage I,No,Passive Smoker,19.7,178,0,0,0,0,Combined,2025-01-08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-01,889996,40.0,Male,Malta,Stage IV,No,Passive Smoker,44.8,243,1,1,1,0,Radiation,2023-02-23,0
2015-09-27,889997,62.0,Female,Cyprus,Stage II,Yes,Former Smoker,21.6,240,0,0,0,0,Surgery,2017-06-19,0
2016-03-27,889998,48.0,Female,Estonia,Stage III,Yes,Never Smoked,38.6,242,1,0,0,0,Combined,2017-01-23,1
2015-12-22,889999,67.0,Female,Slovakia,Stage IV,Yes,Former Smoker,18.6,194,1,1,0,0,Chemotherapy,2017-12-12,0
2021-07-26,890000,55.0,Female,Malta,Stage II,Yes,Current Smoker,42.8,250,0,0,0,0,Combined,2022-10-19,0

In [82]:
less_med_data = med_data['2024-05-25':].copy()
less_med_data

,id,age,gender,country,cancer_stage,family_history,smoking_status,bmi,cholesterol_level,hypertension,asthma,cirrhosis,other_cancer,treatment_type,end_treatment_date,survived
diagnosis_date,,,,,,,,,,,,,,,,
2024-05-26,13,67.0,Female,Germany,Stage II,Yes,Current Smoker,25.6,163,0,1,0,0,Chemotherapy,2025-09-08,0
2024-05-30,250,44.0,Male,Slovakia,Stage I,Yes,Current Smoker,27.6,188,0,1,1,0,Surgery,2025-06-16,1
2024-05-26,995,64.0,Male,Italy,Stage III,Yes,Never Smoked,29.5,237,0,0,0,0,Surgery,2025-06-25,0
2024-05-28,1024,66.0,Male,Luxembourg,Stage III,Yes,Passive Smoker,22.4,154,1,1,0,0,Surgery,2025-04-05,0
2024-05-28,1480,56.0,Female,Greece,Stage III,Yes,Former Smoker,28.4,237,0,1,1,0,Chemotherapy,2025-09-26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-29,886903,33.0,Male,Luxembourg,Stage IV,No,Current Smoker,31.9,259,1,0,1,0,Chemotherapy,2025-05-07,0
2024-05-25,887155,49.0,Male,Estonia,Stage II,No,Current Smoker,31.1,265,0,0,0,0,Chemotherapy,2024-12-11,0
2024-05-25,888403,43.0,Male,Cyprus,Stage I,No,Former Smoker,23.7,163,0,1,0,0,Chemotherapy,2026-03-04,0
2024-05-30,888496,70.0,Male,Poland,Stage IV,No,Never Smoked,19.5,237,1,1,0,1,Combined,2025-08-28,0
2024-05-30,889160,62.0,Male,Ireland,Stage IV,No,Former Smoker,38.9,281,1,0,0,0,Combined,2025-01-26,0

In [96]:
less_med_data.index.weekday  # Get the day of the week (0=Monday, 6=Sunday)
less_med_data.groupby(less_med_data.index.weekday)['survived'].sum().sort_values(ascending=False)  # Group by day of the week and calculate sum of 'survived'

diagnosis_date
5    66
0    62
2    57
6    53
3    47
1    40
Name: survived, dtype: int64

In [ ]:
# Moving averages   /   adjustment volatility or random errors in measurement

In [116]:
import pandas_datareader.data as pdr
import matplotlib.pyplot as plt
import yfinance as yf

ModuleNotFoundError: No module named 'distutils'

In [ ]:
# Fixing bug about distutils in pandas_datareader library...