In [44]:
import pandas as pd
import numpy as np

In [3]:
pole = [2,4,6,8,10,12,14,16,18,20]
pole

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
indexovane_pole = pd.Series(pole)
indexovane_pole

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [5]:
pole.index

In [6]:
index_val = list('abcdefghij')

In [7]:
index_pole = pd.Series(pole, index=index_val)
index_pole

a     2
b     4
c     6
d     8
e    10
f    12
g    14
h    16
i    18
j    20
dtype: int64

In [ ]:
# Loading DataFrame from website and save it to different formats

In [ ]:
kraje = pd.read_html('https://sk.wikipedia.org/wiki/Zoznam_krajov_na_Slovensku')

In [10]:
kraje

[        kód             kraj ISO 3166-2 obyvateľov rozloha [km²]  \
 0         1     Bratislavský      SK-BL    736 385       2 052,6
 1         2         Trnavský      SK-TA    565 900       4 146,3
 2         3      Trenčiansky      SK-TC    565 572       4 501,8
 3         4       Nitriansky      SK-NI    665 600       6 343,7
 4         5         Žilinský      SK-ZI    686 063       6 808,4
 5         6  Banskobystrický      SK-BC    611 124       9 454,0
 6         7        Prešovský      SK-PV    810 008       8 972,8
 7         8          Košický      SK-KI    778 799       6 754,3
 8  Celkovo:         Celkovo:   Celkovo:  5 419 451        49 034

    hustota obyv. [ob./km²] miest a obcí  miest  okresov  \
 0                      359           73      7        8
 1                      136          251     17        7
 2                      126          276     18        9
 3                      105          354     16        7
 4                      101          315     19       11
 5                       65          516     24       13
 6                       90          665     23       13
 7                      115          440     17       11
 8                      111        2 890    141       79

                                               okresy
 0  Bratislava I, Bratislava II, Bratislava III, B...
 1  Dunajská Streda, Galanta, Hlohovec, Piešťany, ...
 2  Bánovce nad Bebravou, Ilava, Myjava, Nové Mest...
 3  Komárno, Levice, Nitra, Nové Zámky, Šaľa, Topo...
 4  Bytča, Čadca, Dolný Kubín, Kysucké Nové Mesto,...
 5  Banská Bystrica, Banská Štiavnica, Brezno, Det...
 6  Bardejov, Humenné, Kežmarok, Levoča, Medzilabo...
 7  Gelnica, Košice I, Košice II, Košice III, Koši...
 8                                                NaN  ,
                                   zduKraje Slovenska  \
 0  Banskobystrický kraj  Bratislavský kraj  Košic...

                                 zduKraje Slovenska.1
 0  Banskobystrický kraj  Bratislavský kraj  Košic...  ]

In [11]:
len(kraje)

2

In [12]:
kraje_off = kraje[0]

In [13]:
kraje_off

,kód,kraj,ISO 3166-2,obyvateľov,rozloha [km²],hustota obyv. [ob./km²],miest a obcí,miest,okresov,okresy
0,1,Bratislavský,SK-BL,736 385,"2 052,6",359,73,7,8,"Bratislava I, Bratislava II, Bratislava III, B..."
1,2,Trnavský,SK-TA,565 900,"4 146,3",136,251,17,7,"Dunajská Streda, Galanta, Hlohovec, Piešťany, ..."
2,3,Trenčiansky,SK-TC,565 572,"4 501,8",126,276,18,9,"Bánovce nad Bebravou, Ilava, Myjava, Nové Mest..."
3,4,Nitriansky,SK-NI,665 600,"6 343,7",105,354,16,7,"Komárno, Levice, Nitra, Nové Zámky, Šaľa, Topo..."
4,5,Žilinský,SK-ZI,686 063,"6 808,4",101,315,19,11,"Bytča, Čadca, Dolný Kubín, Kysucké Nové Mesto,..."
5,6,Banskobystrický,SK-BC,611 124,"9 454,0",65,516,24,13,"Banská Bystrica, Banská Štiavnica, Brezno, Det..."
6,7,Prešovský,SK-PV,810 008,"8 972,8",90,665,23,13,"Bardejov, Humenné, Kežmarok, Levoča, Medzilabo..."
7,8,Košický,SK-KI,778 799,"6 754,3",115,440,17,11,"Gelnica, Košice I, Košice II, Košice III, Koši..."
8,Celkovo:,Celkovo:,Celkovo:,5 419 451,49 034,111,2 890,141,79,NaN

In [22]:
kraje_off = kraje_off.rename(columns={"ISO 3166-2": "ISO_3166-2"})

In [30]:
kraje_off = kraje_off.rename(columns={"rozloha [km/2]": "rozloha_[km/2]"})
kraje_off = kraje_off.rename(columns={"hustota obyv.[ob./km/2]": "hustota_obyv.[ob./km/2]"})

In [40]:
kraje_off

,kód,kraj,ISO_3166-2,obyvateľov,rozloha_[km/2],hustota_obyv.[ob./km/2],miest a obcí,miest,okresov,okresy
0,1,Bratislavský,SK-BL,736 385,"2 052,6",359,73,7,8,"Bratislava I, Bratislava II, Bratislava III, B..."
1,2,Trnavský,SK-TA,565 900,"4 146,3",136,251,17,7,"Dunajská Streda, Galanta, Hlohovec, Piešťany, ..."
2,3,Trenčiansky,SK-TC,565 572,"4 501,8",126,276,18,9,"Bánovce nad Bebravou, Ilava, Myjava, Nové Mest..."
3,4,Nitriansky,SK-NI,665 600,"6 343,7",105,354,16,7,"Komárno, Levice, Nitra, Nové Zámky, Šaľa, Topo..."
4,5,Žilinský,SK-ZI,686 063,"6 808,4",101,315,19,11,"Bytča, Čadca, Dolný Kubín, Kysucké Nové Mesto,..."
5,6,Banskobystrický,SK-BC,611 124,"9 454,0",65,516,24,13,"Banská Bystrica, Banská Štiavnica, Brezno, Det..."
6,7,Prešovský,SK-PV,810 008,"8 972,8",90,665,23,13,"Bardejov, Humenné, Kežmarok, Levoča, Medzilabo..."
7,8,Košický,SK-KI,778 799,"6 754,3",115,440,17,11,"Gelnica, Košice I, Košice II, Košice III, Koši..."
8,Celkovo:,Celkovo:,Celkovo:,5 419 451,49 034,111,2 890,141,79,NaN

In [43]:
kraje_off.to_excel('kraje.xlsx', index=False)
kraje_off.to_csv('kraje.csv', index=False)
kraje_off.to_json('kraje.json', orient='records', lines=True)

# Rename columns to valid XML tag names
kraje_off_xml = kraje_off.rename(columns={
	"rozloha_[km/2]": "rozloha_km2",
	"hustota_obyv.[ob./km/2]": "hustota_obyv_ob_km2",
    "miest a\xa0obcí": "miest_a_obci"
})
kraje_off_xml.to_xml('kraje.xml', index=False)

In [36]:
kraje_off.to_sql?
kraje_off.to_xml?

Signature:
kraje_off.to_xml(
    path_or_buffer: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None,
    *,
    index: 'bool' = True,
    root_name: 'str | None' = 'data',
    row_name: 'str | None' = 'row',
    na_rep: 'str | None' = None,
    attr_cols: 'list[str] | None' = None,
    elem_cols: 'list[str] | None' = None,
    namespaces: 'dict[str | None, str] | None' = None,
    prefix: 'str | None' = None,
    encoding: 'str' = 'utf-8',
    xml_declaration: 'bool | None' = True,
    pretty_print: 'bool | None' = True,
    parser: 'XMLParsers | None' = 'lxml',
    stylesheet: 'FilePath | ReadBuffer[str] | ReadBuffer[bytes] | None' = None,
    compression: 'CompressionOptions' = 'infer',
    storage_options: 'StorageOptions | None' = None,
) -> 'str | None'
Docstring:
Render a DataFrame to an XML document.

.. versionadded:: 1.3.0

Parameters
----------
path_or_buffer : str, path object, file-like object, or None, default None
    String, path object (implementing ``os.PathLike[str]``), or file-like
    object implementing a ``write()`` function. If None, the result is returned
    as a string.
index : bool, default True
    Whether to include index in XML document.
root_name : str, default 'data'
    The name of root element in XML document.
row_name : str, default 'row'
    The name of row element in XML document.
na_rep : str, optional
    Missing data representation.
attr_cols : list-like, optional
    List of columns to write as attributes in row element.
    Hierarchical columns will be flattened with underscore
    delimiting the different levels.
elem_cols : list-like, optional
    List of columns to write as children in row element. By default,
    all columns output as children of row element. Hierarchical
    columns will be flattened with underscore delimiting the
    different levels.
namespaces : dict, optional
    All namespaces to be defined in root element. Keys of dict
    should be prefix names and values of dict corresponding URIs.
    Default namespaces should be given empty string key. For
    example, ::

        namespaces = {"": "https://example.com"}

prefix : str, optional
    Namespace prefix to be used for every element and/or attribute
    in document. This should be one of the keys in ``namespaces``
    dict.
encoding : str, default 'utf-8'
    Encoding of the resulting document.
xml_declaration : bool, default True
    Whether to include the XML declaration at start of document.
pretty_print : bool, default True
    Whether output should be pretty printed with indentation and
    line breaks.
parser : {'lxml','etree'}, default 'lxml'
    Parser module to use for building of tree. Only 'lxml' and
    'etree' are supported. With 'lxml', the ability to use XSLT
    stylesheet is supported.
stylesheet : str, path object or file-like object, optional
    A URL, file-like object, or a raw string containing an XSLT
    script used to transform the raw XML output. Script should use
    layout of elements and attributes from original output. This
    argument requires ``lxml`` to be installed. Only XSLT 1.0
    scripts and not later versions is currently supported.
compression : str or dict, default 'infer'
    For on-the-fly compression of the output data. If 'infer' and 'path_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    Set to ``None`` for no compression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdCompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for faster compression and to create
    a reproducible gzip archive:
    ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

Returns
-------
None or str
    If ``io`` is None, returns the resulting XML format as a
    string. Otherwise returns None.

See Also
--------
to_json : Convert the pandas object to a JSON string.
to_html : Convert DataFrame to a html.

Examples
--------
>>> df = pd.DataFrame({'shape': ['square', 'circle', 'triangle'],
...                    'degrees': [360, 360, 180],
...                    'sides': [4, np.nan, 3]})

>>> df.to_xml()  # doctest: +SKIP
<?xml version='1.0' encoding='utf-8'?>
<data>
  <row>
    <index>0</index>
    <shape>square</shape>
    <degrees>360</degrees>
    <sides>4.0</sides>
  </row>
  <row>
    <index>1</index>
    <shape>circle</shape>
    <degrees>360</degrees>
    <sides/>
  </row>
  <row>
    <index>2</index>
    <shape>triangle</shape>
    <degrees>180</degrees>
    <sides>3.0</sides>
  </row>
</data>

>>> df.to_xml(attr_cols=[
...           'index', 'shape', 'degrees', 'sides'
...           ])  # doctest: +SKIP
<?xml version='1.0' encoding='utf-8'?>
<data>
  <row index="0" shape="square" degrees="360" sides="4.0"/>
  <row index="1" shape="circle" degrees="360"/>
  <row index="2" shape="triangle" degrees="180" sides="3.0"/>
</data>

>>> df.to_xml(namespaces={"doc": "https://example.com"},
...           prefix="doc")  # doctest: +SKIP
<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com">
  <doc:row>
    <doc:index>0</doc:index>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:index>1</doc:index>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides/>
  </doc:row>
  <doc:row>
    <doc:index>2</doc:index>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>
File:      c:\users\filip\appdata\roaming\python\python313\site-packages\pandas\core\frame.py
Type:      method

In [ ]:
# Cleaning and aligning data

In [47]:
vector = np.array([1,2,3,np.nan,5])
vector

array([ 1.,  2.,  3., nan,  5.])

In [48]:
vector.sum()

np.float64(nan)

In [ ]:
# Discretization

In [49]:
df2 = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]

})
df2

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [50]:
df2.describe()

              A          B           C
count  5.000000   5.000000    5.000000
mean   3.000000  30.000000  300.000000
std    1.581139  15.811388  158.113883
min    1.000000  10.000000  100.000000
25%    2.000000  20.000000  200.000000
50%    3.000000  30.000000  300.000000
75%    4.000000  40.000000  400.000000
max    5.000000  50.000000  500.000000

In [51]:
mno = [0.0, 2.25, 5, 7.75, 10.0]

In [52]:
df2['D_category'] = pd.cut(df2['A'], mno)

In [53]:
df2

   A   B    C   D_category
0  1  10  100  (0.0, 2.25]
1  2  20  200  (0.0, 2.25]
2  3  30  300  (2.25, 5.0]
3  4  40  400  (2.25, 5.0]
4  5  50  500  (2.25, 5.0]

In [56]:
df2['D_category'] = pd.cut(df2['A'], mno, labels=['male', 'stredne', 'velke', 'velmi velke'])
df2

   A   B    C D_category
0  1  10  100       male
1  2  20  200       male
2  3  30  300    stredne
3  4  40  400    stredne
4  5  50  500    stredne

In [ ]:
# Vectorized text editing

In [57]:
data = {
    "name": [
        "John Doe", "Jane Smith", "Robert Brown", "Emily White", "Michael Green",
        "Linda Black", "David Blue", "Susan Gray", "James Red", "Patricia Yellow"
    ],
    "email": [
        "john.doe@email.com", "jane.smith@email.com", "robert.brown@email.com", "emily.white@email.com",
        "michael.green@email.com", "linda.black@email.com", "david.blue@email.com", "susan.gray@email.com",
        "james.red@email.com", "patricia.yellow@email.com"
    ]
}

df = pd.DataFrame(data)
df.to_csv('contacts.csv', index=False)

In [58]:
kontakty = pd.read_csv('contacts.csv')
kontakty

              name                      email
0         John Doe         john.doe@email.com
1       Jane Smith       jane.smith@email.com
2     Robert Brown     robert.brown@email.com
3      Emily White      emily.white@email.com
4    Michael Green    michael.green@email.com
5      Linda Black      linda.black@email.com
6       David Blue       david.blue@email.com
7       Susan Gray       susan.gray@email.com
8        James Red        james.red@email.com
9  Patricia Yellow  patricia.yellow@email.com

In [59]:
kontakty['name'].str.lower()

0           john doe
1         jane smith
2       robert brown
3        emily white
4      michael green
5        linda black
6         david blue
7         susan gray
8          james red
9    patricia yellow
Name: name, dtype: object

In [61]:
kontakty['name'].str.contains('d')  # Example of searching for names containing 'd'

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7    False
8     True
9    False
Name: name, dtype: bool

In [ ]:
# Regex

In [62]:
import re

In [68]:
reg_pattern = r'.[a-zA-Z]{2,}$'

In [69]:
kontakty['email'].str.findall(reg_pattern)

0    [.com]
1    [.com]
2    [.com]
3    [.com]
4    [.com]
5    [.com]
6    [.com]
7    [.com]
8    [.com]
9    [.com]
Name: email, dtype: object

In [74]:
kontakty['email'].str.slice(- 4)

0    .com
1    .com
2    .com
3    .com
4    .com
5    .com
6    .com
7    .com
8    .com
9    .com
Name: email, dtype: object

In [75]:
kontakty['name'].str.get_dummies()

,David Blue,Emily White,James Red,Jane Smith,John Doe,Linda Black,Michael Green,Patricia Yellow,Robert Brown,Susan Gray
0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,1,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,1
8,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,1,0,0